<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="col-md-12">

    <div class="col-md-4" *ngFor="let lg of allComapanyDetails">
      <div class="space line">
        <div class="col-md-12 img" *ngFor="let lm of lg.companyLogo">
          <img src="{{lm.url}}">
        </div>
        <div class="col-md-12" *ngFor="let ld of lg.companyDetails">
          <div class="col-md-6 linek">
            <p>{{ld.companyName}}</p>
          </div>
          <div class="col-md-6 linek">
            <p>( {{ld.symbol}} )</p>
          </div>
        </div>
        <div class="col-md-12" *ngFor="let lk of lg.companyTimeStamp">
          <div *ngFor="let lo of lk">

            <div class="col-md-6 lined">
              <p>LastUpdated</p>
              <p>{{lo.lastUpdated}}</p>
            </div>
            <div class="col-md-6 lined">
              <P>LastSaleTime</P>
              <p>{{lo.lastSaleTime}}</p>
            </div>
            <div class="col-md-4 lined">
              <p>MP</p>
              <p>{{lo.marketPercent}}</p>
            </div>
            <div class="col-md-4 lined">
              <p>LSP</p>
              <p>{{lo.lastSalePrice}}</p>

            </div>
            <div class="col-md-4 lined">
              <p>LSS</p>
              <p>{{lo.lastSaleSize}}</p>

            </div>
          </div>
          <div  *ngFor="let ld of lg.companyDetails">
            <div class="col-md-6 linec">

              <p>companyName</p>
              <p>industry</p>
              <p>sector</p>
              <p>website</p>
            </div>
            <div class="col-md-6 linec">
              <p>{{ld.companyName}}</p>
              <p>{{ld.industry}}</p>
              <p>{{ld.sector}}</p>
              <p>{{ld.website}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>